.main-cont-login {
  display: flex;
  min-height: 100vh;
  width: 100%;
}
.left-login {
  background: #c7fbf5;
  min-height: 100%;
  width: 50%;
  border: 1px solid transparent;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.right {
  display: flex;
  align-items: center;
  justify-content: left;
  min-height: 100%;
  width: 50%;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-left: 150px;
  width: 55%;
}
p {
  align-self: flex-start;
  font-size: 20px;
  color: #b8c1cc;
  font-weight: 500;
  line-height: 30px;
  margin: 5px 0 5px 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
p span {
  color: #01bca6;
}

h2 {
  font-size: 35px;
  color: #323e4d;
  font-weight: 600;
  line-height: 52px;
  margin: 0;
}

h2 span {
  color: #01bca6;
}

.button {
  background-color: #ea4335 !important;
  width: 100%;
  min-height: 70px;
  color: #fff !important;
  display: flex !important;
  gap: 40px;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent !important;
  border-radius: 12px !important;
  margin-top: 20px;
  font-size: 20px !important;
  font-weight: 500 !important;
}
