.main-cont {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.area {
  display: flex;
  width: 100%;
}
.content-area {
  background: #dadada;
  display: flex !important;
  flex-direction: column;
  margin-left: 15%;
  /* justify-content: center;
  align-items: center; */
  width: 85%;
}

